html,
body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.grid-container {
    height: calc(100% - 64px);

}
.grid-column {
    height: 100%;
    overflow-y: auto;

}

