html,
body {
    margin: 0;
    height: 100vh;
}

.appscreen {
    display: flex;
    flex-direction:column;
    height: 100vh;
    background-color: lightcoral;
}

.grid-container {
    display: flex;
    overflow: auto;
    border-style: dotted;
    border-color: blue;
}

.grid-list {
    overflow: auto;
    flex:1;
}

.grid-form{
    flex:2;
}

