html,
body {
    margin: 0;
    height: 100vh;
}

.appscreen {
    display: flex;
    flex-direction:column;
    height: 100vh;
}

.grid-container {
    display: flex;
    overflow: auto;
}

.grid-list {
    overflow: auto;
    flex:1;
}

.grid-form{
    flex:2;
    overflow: auto;
}

